config INPUT_FS3XXX_HAPTIC
	tristate "Foursemi FS3XXX haptic driver"
	depends on I2C
	help
	  Say Y here if you have Foursemi FS3XXX haptic controller
	  chip in your system.
	  If unsure, say N.
	  To compile this driver as a module, choose M here: the
	  module will be called FS3XXX haptic driver.



