#####******* emerald config *******#####
####*******N6 code for charger module start *******####
CONFIG_SUBPMIC_DRIVER=m
CONFIG_SUBPMIC_6601=m
CONFIG_SC_CHARGER=m
CONFIG_NU_CHARGER=m
CONFIG_NU_SUBPMIC_DRIVER=m
CONFIG_NU_SUBPMIC_NU6601=n
CONFIG_NU_CHARGERPUMP_DRIVER=m
CONFIG_NU_CHARGERPUMP_NU2115=m
CONFIG_HUAQIN_ADAPTER_CLASS=m
CONFIG_HUAQIN_CHARGER_CLASS=m
CONFIG_HUAQIN_CP_CLASS=m
CONFIG_HUAQIN_LED_CLASS=m
CONFIG_HUAQIN_CHARGER_MANAGER=m
CONFIG_HUAQIN_CP_POLICY=m
CONFIG_PROTOCOL=m
CONFIG_BC12=m
CONFIG_TCPC_RT1711H=n
CONFIG_TCPC_SC660X=m
CONFIG_PD_DBG_INFO=m
CONFIG_BQ_FUELGAUGE=m
CONFIG_PD_BATTERY_SECRET=m
CONFIG_XM_CHG_ANIMATION=m
CONFIG_XM_FG_I2C_ERR=m
CONFIG_HUAQIN_QC_POLICY=m
CONFIG_XIAOMI_SMART_CHG=m
CONFIG_MIUI_ZRAM_MEMORY_TRACKING=y
CONFIG_ZRAM_WRITEBACK=y
# n6r tms
CONFIG_NFC_PN553_DEVICES=m
CONFIG_TMS_DEVICE=m
CONFIG_TMS_NFC_DEVICE=m
CONFIG_TMS_ESE_DEVICE=n
CONFIG_TMS_GUIDE_DEVICE=m
CONFIG_MTK_CLKBUF_NFC=y
CONFIG_MTK_NFC_CLKBUF_ENABLE=y
# CONFIG_CHARGER_MT6360 is not set
# CONFIG_MTK_CHARGER_TYPE_DETECT is not set
# CONFIG_MTK_CHARGER is not set
# CONFIG_GAUGE_MT6375 is not set
# CONFIG_CHARGER_MT6375 is not set
# CONFIG_MTK_PUMP_EXPRESS_PLUS_SUPPORT is not set
# CONFIG_MTK_PUMP_EXPRESS_PLUS_20_SUPPORT is not set
# CONFIG_MTK_PUMP_EXPRESS_40_SUPPORT is not set
# CONFIG_MTK_PUMP_EXPRESS_50_SUPPORT is not set
# CONFIG_CHARGER_RT9759 is not set
# CONFIG_BATTERY_MT6358 is not set
# CONFIG_TCPC_MT6360 is not set
####*******N6 code for charger module end *******####

# N6 code for HQ-301685 by yaochuxue at 20230720 start
CONFIG_MTK_FINGERPRINT_SUPPORT=m
CONFIG_DEVICE_MODULES_SPI_MT65XX=m
CONFIG_XIAOMI_FINGERPRINT=m
CONFIG_FP_MTK_PLATFORM=m
# N6 code for HQ-301685 by yaochuxue at 20230720 end

# N6 code for scp log by zhangjihuan at 20230809 start
CONFIG_MTK_TINYSYS_SCP_DEBUG_SUPPORT=y
# N6 code for scp log by zhangjihuan at 20230809 end

#N6 code for HQ-304194 by dongfeiju at 2023/08/14 start
CONFIG_LOG_BUF_SHIFT=21
#N6 code for HQ-304194 by dongfeiju at 2023/08/14 end
#N6 code for HQ-144020 by dongfeiju at 2023/08/15 start
CONFIG_LOCALVERSION="-perf"
CONFIG_LOCALVERSION_AUTO=y
#N6 code for HQ-144020 by dongfeiju at 2023/08/15 end

CONFIG_BINDER_PRIO=m

